.banner {
  position: relative;
  background: url(/images/home-banner.jpg) no-repeat center/cover;
  min-height: 100vh;

  h2 {
    position: absolute;
    top: 26.1vh;
    right: 20.7vw;
    writing-mode: vertical-rl;
    font-size: 48px;
    line-height: 1.25;
    color: $grayscale-tint;
    user-select: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    i {
      opacity: 0;
    }

    @include pc {
      top: 20.9vh;
      right: 16.6vw;
    }

    @include pad {
      @include font_size_400L-text;
      color: $grayscale-tint;
      top: 15.5vh;
      right: 12.3vw;
    }

    @include mobile {
      @include font_size_400M;
      top: 132px;
      right: 43px;
    }
  }
}

.about {
  opacity: 0;
  padding-top: 237px;
  padding-bottom: 194px;
  padding-left: 23.4vw;

  /*因應rwd改vw-怕破版所以只設一邊*/
  @include pad {
    @include flex-center;
    padding: 56px 0;
  }

  @include mobile {
    padding: 32px 0 61px;
  }

  &_us {
    position: relative;
    background-color: $primary_color-tint;
    width: $about_us_width;
    /*因應rwd所以算出寬度是佔多少vw*/
    padding: 64px 5.9% 75px 20%;
    /*因應rwd所以改成%數-只有寬度改變.高度固定*/
    border-radius: 20px;

    @include pad {
      position: static;
      width: 73vw;
      background-color: $grayscale-tint;
      padding: 0;
      border-radius: 0;
    }

    @include mobile {
      width: 80.7vw;
    }

    h3 {
      @include font_size_500L-text;
      margin-bottom: 32px;

      @include mobile {
        @include font_size_500M-text;
        margin-bottom: 15px;
      }
    }

    p {
      @include font_size_400S-text;

      @include mobile {
        @include font_size_400XS-text;
      }
    }
  }

  &_img {
    @include flex-center;
    position: absolute;
    right: $about_us_width * 0.8246;
    /*因應rwd依us的區塊大小變更位置->img/us=0.8246*/
    top: -106px;
    width: $about_us_width * 0.3509;
    /*因應rwd依us的區塊大小變更->img/us=0.3509*/
    min-width: 240px;
    height: 315px;
    border-radius: 20px;
    background: url(/images/about-banner.jpg) no-repeat center/cover;

    @include pad {
      position: static;
      width: 73vw;
      height: 337px;
      margin-top: 56px;
    }

    @include mobile {
      width: 80.7vw;
      height: 222px;
      margin-top: 32px;
    }

    img {
      width: 150px;
      height: 196px;

      @include pad {
        width: 200px;
        height: 260px;
      }

      @include mobile {
        width: 120px;
        height: 157px;
      }
    }
  }

  &_logo {
    position: absolute;
    bottom: -56px;
    right: -50px;

    @include pad {
      display: none;
    }
  }
}

.products {
  background: url(/images/products-banner.jpg) no-repeat center/cover;
  padding: 134px 0 160px;
  padding-left: $products_item_grid;
  padding-right: $products_item_grid;

  @include pc {
    padding-left: $products_item_grid_pc;
    padding-right: $products_item_grid_pc;
  }

  @include pad {
    padding-top: 37px;
    padding-bottom: 83px;
    padding-left: $products_item_grid_pad;
    padding-right: $products_item_grid_pad;
  }

  @include mobile {
    padding-top: 27px;
    padding-bottom: 64px;
    padding-left: $products_item_grid_mobile;
    padding-right: $products_item_grid_mobile;
  }

  h3 {
    @include font_size_500L-text;
    margin-bottom: 24px;

    @include pad {
      text-align: center;
    }
  }

  p {
    @include font_size_400S-text;

    @include pad {
      text-align: center;
    }
  }

  /* 針對 products 裡面的 card-slider 的客製化 */
  .card-slider {
    .slick-list {
      margin: 0 -26px;

      .slick-slide {
        margin: 0 26px;
      }
    }

    @include pad {
      .slick-list {
        margin: 0 -13px;

        .slick-slide {
          margin: 0 13px;
        }
      }
    }

    &>.card-slider__slides {
      @include flex-nowrap;

      li {
        text-align: center;

        h4 {
          @include font_size_500M-text;
          display: inline-block;
          white-space: nowrap;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          align-self: flex-start;
          margin-top: $products_item_text-margin;
        }

        p {
          @include font_size_400XS-text;
          height: 46px;
          width: 100%;
          white-space: normal;
          word-wrap: break-word;
          overflow: hidden;
          margin-top: $products_item_text-margin;
        }

        a {
          margin-top: $products_item_text-margin;
        }
      }

      .card-slider__slide {
        margin-bottom: $products_item_text-margin;

        //@include pc {
        //  width: $products_item_width_pc;
        //}
        //
        //@include pad {
        //  width: $products_item_width_pad;
        //}
        //
        //@include mobile {
        //  width: $products_item_width_mobile;
        //}

        img {
          border-radius: 20px;
          border-width: $products_img_border;
          border-style: solid;
          border-color: $primary_color-dark;
        }
      }
    }
  }
}

.feedback {
  display: flex;
  padding-top: 153px;
  padding-right: $feedback_padding_r;
  padding-bottom: 163px;
  flex-direction: row;

  @include pc {
    padding-top: 55px;
    padding-bottom: 100px;
    padding-left: $feedback_padding_pc;
    padding-right: $feedback_padding_pc;
    flex-direction: column;
  }

  @include pad {
    padding-top: 55px;
    padding-bottom: 100px;
    padding-left: $feedback_padding_pad;
    padding-right: $feedback_padding_pad;
  }

  @include mobile {
    padding-top: 39px;
    padding-bottom: 64px;
    padding-left: $feedback_padding_mobile;
    padding-right: $feedback_padding_mobile;
  }

  .feedback__title {
    position: relative;
    width: $feedback_content_pcshow_width;
    height: 395px;
    border-radius: 0 20px 20px 0;
    padding: 137px 3.75vw 161px 8.86vw;
    background: url("/images/logo-02-white.png") no-repeat -100px 120px,
      $primary_color-tint;
    background-size: 340px;
    align-self: flex-end;

    h3 {
      @include font_size_500L-text;
    }

    p {
      @include font_size_400S-text;
      margin-top: 24px;
    }

    @include pc {
      width: 100%;
      background: none;
      align-self: center;
      padding: 0;
      height: inherit;
      text-align: center;
    }
  }

  .feedback__card-slider {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 2.6vw;

    .card-slider {
      height: 395px;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      justify-content: center;

      .slick-list {
        margin: 0 -26px;

        .slick-slide {
          margin: 0 26px;
        }
      }

      .slick-slider {
        @include pad {
          .slick-list {
            margin: 0 -13px;

            .slick-slide {
              margin: 0 13px;
            }
          }
        }
      }

      .card-slider__slide {
        @include flex-center;
        flex-direction: column;

        h4 {
          @include font_size_500M-text;
          margin-top: 9px;
        }

        div.star-icon {
          margin: 6px 0;
          color: $primary_color-default;
          font-size: 24px;
          text-align: center;

          span {
            @include font_size_400S-text;
            margin-left: 5px;
          }
        }

        p {
          @include font_size_400XS-text;
          height: 46px;
          width: 100%;
          white-space: normal;
          word-wrap: break-word;
          overflow: hidden;
          text-align: center;
        }
      }
    }
  }
}

main>i.go-top {
  display: none;
  font-size: 50px;
  color: $text_color-dark;
  position: fixed;
  right: 5vw;
  bottom: 10vh;
  cursor: pointer;
  z-index: 100;

  @include pad {
    font-size: 36px;
  }

  @include mobile {
    font-size: 30px;
  }
}
