.thanks {
  @include font_size_500S;
  @include flex-center;
  flex-direction: column;
  color: rgb(123, 0, 0);

  &__text {
    @include flex-center;
    @include font_size_500L-text;
    position: relative;
    color: $text_color-dark;

    h3 {
      margin-right: 16px;
      transform: translateY(-5px);
    }
  }
}

.order-main {
  article {
    border: 1px solid $text_color-dark;
    padding: 50px 72px;

    h5 {
      @include font_size_400S-text;
    }

    p {
      @include font_size_400XS-text;
      margin-top: 30px;
    }
  }
}
