.products__banner {
  @include bg-center;
  background-image: url(/images/bg-banner01.jpg);
  height: 484px;
  display: flex;
  align-items: center;
  padding-left: 16vw;

  @include pc-1080 {
    height: 340px;
  }

  @include pad {
    justify-content: center;
    padding: 0 5%;
    height: 300px;
  }

  h2 {
    @include font_size_400L-text;
    transform: translateY(25%);
    text-shadow: 0 0 1px #ffffff;

    @include pc-1080 {
      @include font_size_400M;
      transform: translateY(50%);
    }

    @include mobile {
      @include font_size_400S-text;

    }
  }
}

.products__nav {
  display: flex;
  justify-content: space-between;
  padding: 110px 7% 30px 5%;

  @include pc-1080 {
    padding: 30px 5%;
  }

  @include pad {
    padding: 30px 3%;
  }

  @include mobile {
    padding: 30px 5% 24px;
    flex-direction: column;
  }

  &__breadcrumb {
    @include flex-center;
    @include font_size_400S-text;

    @include mobile {
      align-self: flex-start;
      margin-bottom: 8px;
    }

    a {
      color: $text_color-dark;

      &:hover {
        text-shadow: 0 0 2px $grayscale-default;
      }
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile {
      align-self: center;
    }

    &__pad-show {
      opacity: 0;
      cursor: default;
      z-index: -1;

      @include pad {
        opacity: 1;
        cursor: pointer;
        z-index: 1;
      }

      select {
        @include font_size_500XS;
        color: $primary_color-tint;
        width: 30vw;
        height: 36px;
        text-align: center;
        border-radius: 10px;
        background-color: $primary_color-dark;
        border: 1px solid $primary_color-dark;
        padding: 6px 8px;
        cursor: pointer;
        outline: none;

        @include mobile {
          width: 90vw;
        }
      }
    }

    &__pad-hide {
      @include pad {
        opacity: 0;
        height: 6px;
        cursor: default;
        z-index: -1;
      }

      select {
        @include font_size_500XS;
        color: $primary_color-dark;
        width: 173px;
        height: 36px;
        border-radius: 5px;
        border: 1px solid $primary_color-dark;
        padding: 6px 8px 8px;
        cursor: pointer;
        outline: none;

        option:disabled {
          color: $grayscale-tint;
          background-color: $text_color-default;
        }
      }
    }
  }

}

.products-list {
  display: flex;
  justify-content: space-between;
  padding: 30px 7% 200px 5%;

  @include pc-1080 {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0px 5%;
  }

  @include pad {
    padding: 0px 3%;
  }

  @include mobile {
    padding: 0px 5%;
  }

  &__nav {
    width: 13vw;
    height: 248px;
    border-radius: 10px;

    @include pc {
      height: 230px;
    }

    @include pc-1080 {
      height: 0px;
      opacity: 0;
      z-index: -1;

      li {
        height: 0px;
      }
    }

    a {
      justify-content: center;
      padding: 16px;
      border-radius: 10px;

      @include pc {
        font-size: 20px;
      }

      @include pc-1080 {
        cursor: default;
      }

      div {
        margin-right: 10px;

        @include pc {
          margin-right: 2px;
        }
      }
    }
  }

  &__main {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @include pc-1080 {
      width: 90vw;
    }

    @include pad {
      width: 94vw;
    }

    @include mobile {
      width: 90vw;
    }

    li {
      width: 30%;
      margin-bottom: 100px;

      @include pc-1080 {
        margin-bottom: 50px;
      }

      @include pad {
        width: 45vw;
      }

      @include mobile {
        width: 90vw;
      }

      a.products-list__main-image {
        display: block;
        border: 1px solid $primary_color-dark;
        border-radius: 20px;
        overflow: hidden;

        img {
          transition: transform 0.3s ease-in-out, filter 0.3s linear;
          transform: scale(1.1);

          &:hover {
            transform: scale(1.15);
            filter: brightness(110%);
          }
        }
      }

      div {
        @include flex-center;
        flex-direction: column;

        h3 {
          @include font_size_500M-text;
          white-space: nowrap;
          width: 100%;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-top: 15px;
        }

        p {
          @include font_size_400XS-text;
          height: 46px;
          width: 100%;
          overflow: hidden;
          margin-top: 16px;
        }

        a {
          margin-top: 16px;
        }
      }
    }
  }
}
