.nav {
  background-color: $primary_color-tint;

  a {
    @include font_size_500M-text;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    color: $text_color-dark;

    div {
      @include flex-center;
      @include bg-center;
      width: 24px;
      margin-right: 5px;
    }

    &:hover {
      background: $primary_color-dark;
      color: $primary_color-tint;

      div {
        img {
          opacity: 0;
        }

        &.nav_menu-home {
          background-image: url(/images/icons/nav-home-hover.svg);
        }

        &.nav_menu-products {
          background-image: url(/images/icons/side-menu-lesson-hover.svg);
        }

        &.nav_menu-qa {
          background-image: url(/images/icons/nav-question-hover.svg);
        }

        &.nav_menu-contact {
          background-image: url(/images/icons/nav-service-hover.svg);
        }

        &.nav_menu-yoga {
          background-image: url(/images/icons/side-menu-yoga-hover.svg);
        }

        &.nav_menu-travel {
          background-image: url(/images/icons/side-menu-travel-hover.svg);
        }

        &.nav_menu-meditation {
          background-image: url(/images/icons/side-menu-meditation-hover.svg);
        }
      }
    }
  }
}
