/*原本想用jQuery實現，但研究了一下發現可以用Pure CSS來做，也可以優化一些效能*/
.qa {
  list-style: none;
  border: 1px solid #a86c46;
  width: 70%;
  margin: 0 auto;
  background: #a86c46;

  &>li {
    position: relative;
    font-size: 16px;

    &>label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;
      padding: 25px 15px;
      color: #fff7f0;
      font-weight: bold;
      line-height: 1.4;
    }

    ;

    &>input {
      position: absolute;
      top: 0;
      opacity: 0;
      z-index: -1;

      &:checked~div.answer {
        display: block;
      }

      ;

      &:checked+label>.arrow {
        transform: rotate(180deg);
      }

      ;
    }

    ;
  }

  ;
}

.answer {
  display: none;
  line-height: 1.4;
  color: #584024;
  padding: 25px 15px;
  background: #ffffff;
}

.arrow {
  color: #fff7f0;
  font-size: 24px;
  cursor: pointer;
  margin-left: 5px;
  transition: transform 0.1s;
}
